.card{
    justify-content: center;
    display: flex;
    flex-direction:column;
    margin: auto;
    padding:4%;
    background-color: rgb(211, 211, 96);
    padding-top: 0%;
}
.card-title{
    font-family: cursive;
    text-align: center;
}
.card-body:hover{
    background-color: rgb(235, 150, 80);
    color: black;
    cursor: pointer;
  
}
.card-body{
    display: flex;
    flex-direction: column;
    padding: auto;
}